onnxruntime
onnxruntime-directml
torch
torchvision
opencv_python
pillow
FreeSimpleGUI
python_osc
pydantic
pyserial
colorama
desktop-notifier
comtypes
pygrabber
psutil
requests
v4l2py
sounddevice
soundfile
